.header-wrapper 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-wrapper .header{
    color: white;
    padding: 0px 50px;
    font-size: 48px;
}

.header-wrapper .search-button{
    color: white;
    padding-right: 50px;
    
}

.header-wrapper .search-button svg{
    font-size: 48px;
}