.word-detail-wrapper{
    width: 100%;
}

.word-detail-wrapper .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
}

.word-detail-wrapper h1{
    padding-left: 20px;
}
.word-detail-wrapper .result{
    padding-left: 20px;
}